body {
    font-family: Arial;
    margin: 30px;
}

h1 {
    color: darkblue;
}

input {
    padding: 5px;
}

button {
    padding: 7px 15px;
}

.error {
    color: red;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: lightgray;
}